/* CSS (stil og formatering) til nettsiden */
body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: lightskyblue;
    color: darkblue;
}

h1, h3 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main article img {
    width: 100%;
    display: block;
    margin: auto;
}

#tekno-hode {
    width: 200px;
    float: right;
}
